{erl_opts, [debug_info]}.
{deps, [
    {json, {hamler_git, "https://github.com/hamler-lang/json", {branch, "master"}}}
]}.

{relx, [{release, {tjson, "0.1.0"},
         [tjson,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.


{plugins, [
        {rebar3_hamler, {git, "https://github.com/hamler-lang/rebar3_hamler", {branch, "master"}}}
    ]}.

{provider_hooks, [
    {pre, [{compile, {hamler, compile}}]}
]}.

{overrides, [
    {del, [
        {provider_hooks, [
            {pre, [{compile, {hamler, compile}}]}
        ]}
    ]}
]}.
